.idea

/asset-transfer-basic

/builders

/ci

/hyper/bin
/hyper/log.txt
/hyper/chaincode/vendor
/hyper/channel-artifacts
/hyper/organizations/ordererOrganizations
/hyper/organizations/peerOrganizations

/middleware/node_modules
/middleware/package-lock.json